
ApocalypseNow_WwiseProject/ProfilingSession16.prof
ApocalypseNow_WwiseProject/ProfilingSession16.prof - Shortcut.lnk
*.prof
Library/ArtifactDB
Library/SourceAssetDB-lock
Library/SourceAssetDB
Library/ScriptAssemblies/UnityEngine.UI.pdb
Library/ScriptAssemblies/UnityEngine.UI.dll
Library/ScriptAssemblies/UnityEngine.TestRunner.pdb
Library/ScriptAssemblies/UnityEngine.TestRunner.dll
Library/ScriptAssemblies/UnityEditor.UI.pdb
Library/ScriptAssemblies/UnityEditor.UI.dll
Library/ScriptAssemblies/UnityEditor.TestRunner.pdb
Library/ScriptAssemblies/UnityEditor.TestRunner.dll
Library/ScriptAssemblies/Unity.VSCode.Editor.pdb
Library/ScriptAssemblies/Unity.VSCode.Editor.dll
Library/ScriptAssemblies/Unity.Timeline.pdb
Library/ScriptAssemblies/Unity.Timeline.Editor.pdb
Library/ScriptAssemblies/Unity.Timeline.Editor.dll
Library/ScriptAssemblies/Unity.Timeline.dll
Library/ScriptAssemblies/Unity.TextMeshPro.pdb
Library/ScriptAssemblies/Unity.TextMeshPro.Editor.pdb
Library/ScriptAssemblies/Unity.TextMeshPro.Editor.dll
Library/ScriptAssemblies/Unity.TextMeshPro.dll
Library/ScriptAssemblies/Unity.Rider.Editor.pdb
Library/ScriptAssemblies/Unity.Rider.Editor.dll
Library/ScriptAssemblies/Unity.CollabProxy.Editor.pdb
Library/ScriptAssemblies/Unity.CollabProxy.Editor.dll
Library/ScriptAssemblies/BuiltinAssemblies.stamp
Library/ScriptAssemblies/Assembly-CSharp.pdb
Library/ScriptAssemblies/Assembly-CSharp.dll
Library/ScriptAssemblies/AK.Wwise.Unity.Timeline.pdb
Library/ScriptAssemblies/AK.Wwise.Unity.Timeline.Editor.pdb
Library/ScriptAssemblies/AK.Wwise.Unity.Timeline.Editor.dll
Library/ScriptAssemblies/AK.Wwise.Unity.Timeline.dll
Library/ScriptAssemblies/AK.Wwise.Unity.MonoBehaviour.pdb
Library/ScriptAssemblies/AK.Wwise.Unity.MonoBehaviour.Editor.pdb
Library/ScriptAssemblies/AK.Wwise.Unity.MonoBehaviour.Editor.dll
Library/ScriptAssemblies/AK.Wwise.Unity.MonoBehaviour.dll
Library/ScriptAssemblies/AK.Wwise.Unity.API.WwiseTypes.pdb
Library/ScriptAssemblies/AK.Wwise.Unity.API.WwiseTypes.dll
Library/ScriptAssemblies/AK.Wwise.Unity.API.pdb
Library/ScriptAssemblies/AK.Wwise.Unity.API.Editor.pdb
Library/ScriptAssemblies/AK.Wwise.Unity.API.Editor.dll
Library/ScriptAssemblies/AK.Wwise.Unity.API.dll
Library/ScriptAssemblies/Ak.Wwise.Api.WAAPI.pdb
Library/ScriptAssemblies/Ak.Wwise.Api.WAAPI.dll
Library/PackageCache/com.unity.ide.rider@1.1.4/package.json
Library/EditorInstance.json
Library/Artifacts/b3/b3f7f9555132b8f18370a3cd508152c2
Library/Artifacts/ae/ae52db73bfa7a2d814daa752df9452ff
Library/Artifacts/94/942320f182c69da94eae1a5b379b1713
Library/Artifacts/81/81122234d591bb85b6ca9a2e0ed08eb6
Library/Artifacts/5c/5ce122fb7a1b5d61492948a98f2cb50f
Library/Artifacts/5a/5ac449c17837c62884b469059bc17f80
Library/Artifacts/49/4965f73b1f907fcbdd960f40933eadb8
Library/Artifacts/14/143faa86ec79e712803d0c8611522628
Library/Artifacts/0f/0faaa1b72fe20c54617c7145cfa8c9d9
Library/Artifacts/08/083270bc1163959660985b7397ff320f
Library/ArtifactDB
Library/APIUpdater/project-dependencies.graph
